html, body, div.ng-scope, #map-canvas {
	height: 100%;
	margin: 0;
	padding: 0;
}

#map-canvas {
	border-left: 5px solid black;
}

#status-message {
	font-style: italic;
	color: gray;
}

div#developer-list {
	overflow: auto;
	height: 400px;
}

div.developer-list-item {
	height: auto;
	padding: 10px;
}

.developer-list-item img {
	width: 50px;
}

.developer-list-item a {
	font-size: large;
}