html, body, div.ng-scope, #map-canvas {
	height: 100%;
	margin: 0;
	padding: 0;
}

#map-canvas {
	border-left: 5px solid black;
}

#status-message {
	font-style: italic;
	color: gray;
}

div#developer-list {
	overflow: auto;
	height: 400px;
}

div.developer-list-item {
	height: auto;
	padding: 10px;
	font-size: large;
}

div.developer-list-item:hover {
	background-color: #ecf0f1;
	cursor: pointer;
}

.developer-list-item img {
	width: 50px;
	border-radius: 15px 15px 15px 15px;
	-moz-border-radius: 15px 15px 15px 15px;
	-webkit-border-radius: 15px 15px 15px 15px;
	border: 0px solid #000000;
}