<div>
	<form class="navbar-form" role="search">

			<div>
	 		<label>Type in a city and state or zip to see the GitHub users in that area:</label>
		    <div class="input-group">
	        <input type="text" class="form-control" placeholder="Location" name="q" ng-model="location" />
	        <div class="input-group-btn">
	            <button class="btn btn-default" ng-click="searchByLocation(location)"><i class="glyphicon glyphicon-search"></i></button>
	        </div>
		    </div>
			</div>

	</form>
</div>
